In [1]:
import pandas as pd
from itertools import islice

In [2]:
url = "/bigdata/jelicicna/output_datasets/distances_table_nextbike_2020-01.csv.gz"
#url_pr = "processed_data_nextbike_2020-06cc.csv"
df = pd.read_csv(url, sep=';', low_memory=False)
#df_pr = pd.read_csv(url, sep=';', low_memory=False)

In [3]:
pd.set_option('display.max_columns()', None)

#### Function for limiting possible lengths of distances to 2500meters in order to work with one part of data without extreme values

In [4]:
def drop_duplicates(l):
    '''Droping duplicates from a list while maintaining order'''
    seen = set()
    seen_add = seen.add
    return [x for x in l if not (x in seen or seen_add(x))]

In [5]:
def short_list(time):
    return [x for x in sr[time] if x < 2500]

In [6]:
df = df.drop(['bike', 'bike_racks', 'bikes', 'booked_bikes', 'free_racks', 'free_special_racks', 'maintenance', 'number', 
              'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city',
              'country_code', 'company', 'timezone'], axis=1)

df.drop(['index'], axis=1, inplace=True)

In [7]:
df.head()

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,address,name,available_bikes
0,50.932058,6.988541,50.936326,6.986125,2020-01-01 02:40:01,2020-01-01 02:46:02,6.0,504.0,26503191,26523894,160.0,NaN,BIKE 22739,2620
1,50.936326,6.986125,50.932037,6.988254,2020-01-01 06:25:02,2020-01-01 06:30:03,5.0,500.0,26523894,26528020,219.0,NaN,BIKE 22739,2613
2,50.932037,6.988254,50.933224,6.982801,2020-01-01 12:56:02,2020-01-01 13:03:01,7.0,404.0,26528020,26534301,386.0,NaN,BIKE 22739,2622
3,50.933224,6.982801,50.933625,6.981179,2020-01-01 15:27:02,2020-01-01 15:31:02,4.0,122.0,26534301,26537369,144.0,NaN,BIKE 22739,2616
4,50.933625,6.981179,50.933253,6.982808,2020-01-01 22:52:02,2020-01-01 22:55:02,3.0,121.0,26537369,26544916,441.0,NaN,BIKE 22739,2604

In [8]:
negative_values = df[df['ride_time'] < 0].index.to_list()
negative_values

[]

In [9]:
#use only if there are values that you need to drop in negative values
df.drop(negative_values, inplace=True)

In [10]:
rows_with_nan = []
for index, row in df.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.any():
        rows_with_nan.append(index)

In [11]:
df_adr = df.drop(rows_with_nan, axis=0)

In [12]:
df_adr.head()

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,address,name,available_bikes
264,50.919418,6.959776,50.944125,6.959246,2020-01-14 17:33:02,2020-01-14 18:10:03,37.0,2748.0,26937609,26942141,18.0,Bonner Str. 28,BIKE 21579,2480
378,50.918073,6.960369,50.915496,6.970114,2020-01-30 13:00:02,2020-01-30 13:29:02,29.0,741.0,27409728,27413034,102.0,Bonner Str. 45,BIKE 22396,2611
411,50.966313,7.015538,50.965844,7.015161,2020-01-06 16:36:02,2020-01-08 09:41:01,2465.0,59.0,26659638,26722710,249.0,"Schanzenstraße 26, Köln",BIKE 22040,2570
486,50.942163,6.957415,50.943219,6.953894,2020-01-13 06:32:02,2020-01-13 06:38:02,6.0,273.0,26878086,26878795,33.0,Köln - Trankgasse 11,BIKE 21822,2558
558,50.941769,6.957032,50.936790,6.947512,2020-01-15 07:27:02,2020-01-15 07:59:01,32.0,867.0,26939877,26956992,78.0,trankgasse,BIKE 21570,2521

In [13]:
address_list = df_adr.index.to_list()

In [14]:
previous_address_list = [(i-1) for i in address_list]
following_address_list = [(i+1) for i in address_list]

In [15]:
overview_list = previous_address_list + address_list + following_address_list
overview_list.sort()
overview_list = drop_duplicates(overview_list)

In [16]:
df_suspicious_indexes = df.loc[overview_list]

In [18]:
df_suspicious_indexes

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,address,name,available_bikes
263,50.924489,6.957470,50.919418,6.959776,2020-01-14 17:02:02,2020-01-14 17:15:02,13.0,587.0,26928080,26937609,113.0,NaN,BIKE 21579,2510
264,50.919418,6.959776,50.944125,6.959246,2020-01-14 17:33:02,2020-01-14 18:10:03,37.0,2748.0,26937609,26942141,18.0,Bonner Str. 28,BIKE 21579,2480
265,50.944125,6.959246,50.945099,6.946622,2020-01-14 23:38:03,2020-01-15 04:04:02,266.0,891.0,26942141,26950724,328.0,NaN,BIKE 21579,2455
377,50.917671,6.960294,50.918073,6.960369,2020-01-28 10:49:02,2020-01-30 11:18:02,2909.0,45.0,27360304,27409728,7.0,NaN,BIKE 22396,2608
378,50.918073,6.960369,50.915496,6.970114,2020-01-30 13:00:02,2020-01-30 13:29:02,29.0,741.0,27409728,27413034,102.0,Bonner Str. 45,BIKE 22396,2611
379,50.915496,6.970114,50.940738,6.961923,2020-01-30 17:02:02,2020-01-30 17:29:02,27.0,2866.0,27413034,27419636,213.0,NaN,BIKE 22396,2610
410,50.963471,7.006077,50.966313,7.015538,2020-01-06 09:36:01,2020-01-06 12:27:02,171.0,734.0,26654521,26659638,212.0,NaN,BIKE 22040,2625
411,50.966313,7.015538,50.965844,7.015161,2020-01-06 16:36:02,2020-01-08 09:41:01,2465.0,59.0,26659638,26722710,249.0,"Schanzenstraße 26, Köln",BIKE 22040,2570
412,50.965844,7.015161,50.965935,7.015219,2020-01-08 12:44:01,2020-01-08 12:51:02,7.0,11.0,26722710,26727431,183.0,NaN,BIKE 22040,2541
485,50.928035,6.918631,50.942163,6.957415,2020-01-13 05:31:02,2020-01-13 05:59:02,28.0,3140.0,26869058,26878086,606.0,NaN,BIKE 21822,2557
486,50.942163,6.957415,50.943219,6.953894,2020-01-13 06:32:02,2020-01-13 06:38:02,6.0,273.0,26878086,26878795,33.0,Köln - Trankgasse 11,BIKE 21822,2558
487,50.943219,6.953894,50.927050,6.965989,2020-01-13 06:53:03,2020-01-13 07:09:01,16.0,1988.0,26878795,26879487,15.0,NaN,BIKE 21822,2559
557,50.936639,6.953548,50.941769,6.957032,2020-01-14 16:38:02,2020-01-15 06:09:02,811.0,621.0,26927114,26939877,118.0,NaN,BIKE 21570,2508
558,50.941769,6.957032,50.936790,6.947512,2020-01-15 07:27:02,2020-01-15 07:59:01,32.0,867.0,26939877,26956992,78.0,trankgasse,BIKE 21570,2521
559,50.936790,6.947512,50.934793,6.918935,2020-01-15 10:33:03,2020-01-15 10:48:02,15.0,2015.0,26956992,26963667,154.0,NaN,BIKE 21570,2519
693,50.984553,6.961873,50.990176,6.961595,2020-01-07 18:40:02,2020-01-07 19:00:03,20.0,626.0,26693808,26706552,381.0,NaN,BIKE 21729,2571
694,50.990176,6.961595,50.943563,6.962405,2020-01-10 17:55:02,2020-01-10 18:19:02,24.0,5185.0,26706552,26807462,4255.0,Sebastianstraße 186,BIKE 21729,2577
695,50.943563,6.962405,50.962110,7.004129,2020-01-10 19:34:02,2020-01-10 20:00:02,26.0,3578.0,26807462,26810417,75.0,NaN,BIKE 21729,2491
749,50.960502,6.902591,50.961499,6.902472,2020-01-29 08:08:02,2020-01-30 21:40:02,2252.0,111.0,27375545,27404973,606.0,NaN,BIKE 21729,2621
750,50.961499,6.902472,50.955227,6.908167,2020-01-31 17:42:02,2020-01-31 17:59:02,17.0,804.0,27404973,27447504,1202.0,Johann-Brinck-Straße 7,BIKE 21729,2607
751,50.953959,6.940737,50.954133,6.940979,2020-01-01 03:30:02,2020-01-01 03:37:02,7.0,26.0,26515603,26524942,210.0,NaN,BIKE 22155,2620
1380,50.968350,7.015939,50.936493,6.957709,2020-01-09 17:38:01,2020-01-09 19:31:01,113.0,5404.0,26761505,26771265,77.0,NaN,BIKE 22048,2510
1381,50.936493,6.957709,50.948781,6.932093,2020-01-09 19:58:02,2020-01-09 20:14:02,16.0,2256.0,26771265,26773351,27.0,gürzenich straße,BIKE 22048,2515
1382,50.948781,6.932093,50.924477,6.908573,2020-01-10 17:18:01,2020-01-10 17:41:02,23.0,3166.0,26773351,26806303,1264.0,NaN,BIKE 22048,2513
1389,50.927165,6.947518,50.928672,6.952259,2020-01-12 23:01:03,2020-01-14 01:29:02,1588.0,372.0,26862975,26873395,482.0,NaN,BIKE 22048,2532
1390,50.928672,6.952259,50.921409,6.959277,2020-01-14 11:41:03,2020-01-21 20:30:02,10609.0,946.0,26873395,1461245,612.0,Friedenstraße 23,BIKE 22048,2544
1391,50.921409,6.959277,50.921250,6.959782,2020-01-21 21:03:02,2020-01-21 21:04:02,1.0,40.0,1461245,27186187,33.0,NaN,BIKE 22048,2540
1532,50.923859,6.964112,50.922056,6.959433,2020-01-31 19:54:03,2020-01-31 20:03:03,9.0,385.0,27450524,27450854,6.0,NaN,BIKE 21768,2622
1533,50.922077,6.933072,50.961644,6.954423,2020-01-03 13:51:02,2020-01-10 17:22:02,10291.0,4648.0,26567901,26805749,1035.0,Luxemburger Str. 124,BIKE 22151,2609
1534,50.961644,6.954423,50.961720,6.954730,2020-01-10 17:35:02,2020-01-10 17:36:02,1.0,23.0,26805749,26806238,13.0,NaN,BIKE 22151,2480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62751,50.956630,6.932424,50.958732,6.947646,2020-01-15 09:54:02,2020-01-16 11:07:02,1513.0,1092.0,26945455,27000786,859.0,NaN,BIKE 22195,2497
62752,50.958732,6.947646,50.939805,6.960235,2020-01-16 11:45:02,2020-01-16 12:53:02,68.0,2283.0,27000786,1806443,38.0,Habichtstraße 26,BIKE 22195,2541
62753,50.939805,6.960235,50.940313,6.960632,2020-01-16 17:40:02,2020-01-16 17:48:02,8.0,63.0,1806443,27017155,287.0,NaN,BIKE 22195,2538
62950,50.934222,6.989895,50.935095,6.989343,2020-01-09 16:59:01,2020-01-09 18:06:01,67.0,105.0,26752275,26768060,520.0,NaN,BIKE 21842,2559
62951,50.935095,6.989343,50.909208,6.972151,2020-01-09 22:44:02,2020-01-10 02:54:02,250.0,3122.0,26768060,26777397,278.0,Ubierring 40,BIKE 21842,2495
62952,50.909208,6.972151,50.948689,6.987042,2020-01-10 07:04:02,2020-01-10 16:29:02,565.0,4514.0,26777397,26803983,250.0,NaN,BIKE 21842,2514
62959,50.910278,6.917064,50.902870,6.954886,2020-01-12 21:20:02,2020-01-12 21:40:02,20.0,2778.0,26869008,26871800,117.0,NaN,BIKE 21842,2555
62960,50.902870,6.954886,50.941453,6.940353,2020-01-13 09:40:03,2020-01-13 10:20:02,40.0,4411.0,26871800,26884880,720.0,Raderthalerstraße 10,BIKE 21842,2542
62961,50.941453,6.940353,50.936335,6.940419,2020-01-13 11:07:02,2020-01-13 20:08:02,541.0,569.0,26884880,26903710,47.0,NaN,BIKE 21842,2516
62965,50.937446,6.890410,50.946755,6.889807,2020-01-15 16:00:02,2020-01-17 18:14:02,3014.0,1036.0,26969487,27053715,131.0,NaN,BIKE 21842,2493
62966,50.946755,6.889807,50.946819,6.890076,2020-01-18 02:15:02,2020-01-18 02:23:02,8.0,20.0,27053715,27064387,481.0,"Widdersdorfer Straße, Ecke Eupener Straße",BIKE 21842,2531
62967,50.946819,6.890076,50.947194,6.883859,2020-01-18 13:32:02,2020-01-19 03:57:02,865.0,438.0,27064387,27077697,669.0,NaN,BIKE 21842,2547
62968,50.947194,6.883859,50.947298,6.884039,2020-01-22 17:57:01,2020-01-22 18:01:02,4.0,17.0,27077697,27215119,5160.0,Dansweilerweg 2,BIKE 21842,2568
62969,50.947298,6.884039,50.949065,6.877765,2020-01-23 12:52:02,2020-01-23 13:02:02,10.0,482.0,27215119,27238618,1131.0,NaN,BIKE 21842,2560
62975,50.951857,6.903711,50.939491,6.911112,2020-01-24 12:16:02,2020-01-25 11:13:02,1377.0,1470.0,27248913,27292824,1062.0,NaN,BIKE 21842,2586
62976,50.939491,6.911112,50.939909,6.911009,2020-01-25 12:44:02,2020-01-25 12:48:02,4.0,47.0,27292824,27294724,91.0,"50.945543, 6.906935",BIKE 21842,2596
62977,50.939909,6.911009,50.939694,6.910665,2020-01-26 16:55:02,2020-01-26 17:00:02,5.0,34.0,27294724,27322371,1687.0,NaN,BIKE 21842,2610
62980,50.942610,6.898285,50.944053,6.944218,2020-01-27 08:01:02,2020-01-27 09:29:02,88.0,3223.0,27324536,27333109,793.0,NaN,BIKE 21842,2603
62981,50.944053,6.944218,50.944190,6.944183,2020-01-27 14:07:02,2020-01-27 14:54:02,47.0,15.0,27333109,27341249,278.0,Christophstraße & Von-Werth-Straße,BIKE 21842,2603
62982,50.944190,6.944183,50.945507,6.946900,2020-01-27 15:36:02,2020-01-27 15:37:02,1.0,240.0,27341249,27342457,42.0,"Christophstraße 40, 50670 Köln",BIKE 21842,2621
62983,50.945507,6.946900,50.944646,6.947612,2020-01-27 15:37:02,2020-01-27 15:38:03,1.0,108.0,27342457,27342483,0.0,NaN,BIKE 21842,2619
62985,50.944985,6.947249,50.932388,6.983836,2020-01-28 16:42:02,2020-01-28 19:59:02,197.0,2922.0,27359581,27370010,397.0,NaN,BIKE 21842,2615
62986,50.932388,6.983836,50.940174,6.974726,2020-01-29 08:06:02,2020-01-29 17:50:02,584.0,1076.0,27370010,27381598,727.0,gebrüder coblenz straße 5,BIKE 21842,2614
62987,50.955048,6.913952,50.950632,6.916479,2020-01-02 07:31:02,2020-01-02 07:43:03,12.0,522.0,26509360,26551046,1891.0,NaN,BIKE 22091,2620
63203,50.932837,6.953420,50.938314,6.940734,2020-01-31 23:33:03,2020-01-31 23:46:02,13.0,1078.0,27453109,27455043,94.0,NaN,BIKE 21478,2618
63204,50.908875,6.936178,50.906353,6.950884,2020-01-13 08:29:02,2020-01-14 21:26:03,2217.0,1069.0,26310483,26948323,692.0,Klüsserather Str. 4,BIKE 22045,2545
63205,50.906353,6.950884,50.940619,6.890594,2020-01-16 08:13:03,2020-01-16 08:42:02,29.0,5692.0,26948323,26997784,2087.0,NaN,BIKE 22045,2493
63894,50.946500,6.963789,50.911927,6.974317,2020-01-31 20:16:02,2020-01-31 20:17:03,1.0,3916.0,27412474,27451116,1874.0,NaN,BIKE 21703,2607
63895,50.911927,6.974317,50.900664,6.945061,2020-01-31 20:22:01,2020-01-31 20:38:02,16.0,2404.0,27451116,27451615,5.0,"Hellersbergstraße 11, 41460 Neuss",BIKE 21703,2617
63896,50.949904,7.008509,50.949841,7.008337,2020-01-01 19:06:02,2020-01-01 19:10:01,4.0,14.0,26504840,26541570,1146.0,NaN,BIKE 22119,2620

In [ ]:
#with open('mytable.tex','w') as tf:
 #   tf.write(df.head().to_latex())

In [19]:
previous_index = overview_list[0]
previous_distance = df_suspicious_indexes.iloc[0]['distance']
suspicious_return_trips = []
for index,row in islice(df_suspicious_indexes.iterrows(), 1, None):
    if (row['distance'] == previous_distance):
        suspicious_return_trips.append(previous_index)
        suspicious_return_trips.append(index)
        
    previous_index = index
    previous_distance = row['distance']

In [20]:
suspicious_return_trips

[1703, 1704, 4637, 4638, 5313, 5314, 8225, 8226, 27789, 27790, 37306, 37307]

In [21]:
df.loc[1703:1704]

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,address,name,available_bikes
1703,50.951432,6.919364,50.926444,6.958002,2020-01-14 15:20:02,2020-01-15 07:29:02,969.0,3881.0,26903584,26956825,952.0,Bahnhof Ehrenfeld,BIKE 22716,2523
1704,50.926444,6.958002,50.951432,6.919364,2020-01-16 09:40:03,2020-01-16 09:53:03,13.0,3881.0,26956825,27000341,1571.0,NaN,BIKE 22716,2523

In [46]:
suspicious_distances = []
for index,row in df.iterrows():
    if (row['distance'] > 20000):
        suspicious_distances.append(index)

In [47]:
suspicious_distances

[131, 132, 15897, 31582, 34459, 34460, 36435, 36436]

In [50]:
suspicious_indexes = set(suspicious_return_trips + suspicious_distances)
len(suspicious_indexes)

780

In [51]:
len(suspicious_indexes)

780

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29555 entries, 0 to 29554
Data columns (total 14 columns):
lat_begin               29555 non-null float64
lng_begin               29555 non-null float64
lat_end                 29555 non-null float64
lng_end                 29555 non-null float64
ride_begin              29555 non-null object
ride_end                29555 non-null object
ride_time               29555 non-null float64
distance                29555 non-null float64
uid_begin               29555 non-null int64
uid_end                 29555 non-null int64
standing_before_ride    29555 non-null float64
address                 229 non-null object
name                    29555 non-null object
available_bikes         29555 non-null int64
dtypes: float64(7), int64(3), object(4)
memory usage: 3.2+ MB

In [25]:
df_no = df.drop(suspicious_indexes, axis=0)
df_no.reset_index(inplace=True)
df_no.drop('index', axis=1, inplace=True)

In [26]:
df_no.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28984 entries, 0 to 28983
Data columns (total 14 columns):
lat_begin               28984 non-null float64
lng_begin               28984 non-null float64
lat_end                 28984 non-null float64
lng_end                 28984 non-null float64
ride_begin              28984 non-null object
ride_end                28984 non-null object
ride_time               28984 non-null float64
distance                28984 non-null float64
uid_begin               28984 non-null int64
uid_end                 28984 non-null int64
standing_before_ride    28984 non-null float64
address                 182 non-null object
name                    28984 non-null object
available_bikes         28984 non-null int64
dtypes: float64(7), int64(3), object(4)
memory usage: 3.1+ MB

In [27]:
df_no.to_csv('/bigdata/jelicicna/output_datasets/anlysis_data_nextbike_2021-01.csv', sep=';', index=False)

In [ ]:
df_no[df_no[""]]