In [1]:
import pandas as pd
from itertools import islice

In [29]:
url = "/bigdata/jelicicna/output_datasets/distances_table_nextbike_2020-03.csv.gz"
#url_pr = "processed_data_nextbike_2020-06cc.csv"
df = pd.read_csv(url, sep=';', low_memory=False)
#df_pr = pd.read_csv(url, sep=';', low_memory=False)

In [30]:
pd.set_option('display.max_columns()', None)

#### Function for limiting possible lengths of distances to 2500meters in order to work with one part of data without extreme values

In [31]:
def drop_duplicates(l):
    '''Droping duplicates from a list while maintaining order'''
    seen = set()
    seen_add = seen.add
    return [x for x in l if not (x in seen or seen_add(x))]

In [32]:
def short_list(time):
    return [x for x in sr[time] if x < 2500]

In [33]:
df = df.drop(['bike', 'bike_racks', 'bikes', 'booked_bikes', 'free_racks', 'free_special_racks', 'maintenance', 'number', 
              'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city',
              'country_code', 'company', 'timezone'], axis=1)

df.drop(['index'], axis=1, inplace=True)

In [34]:
df.head()

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,address,name,available_bikes
0,50.950063,7.018723,50.937656,6.998714,2020-03-03 12:26:02,2020-03-03 12:56:02,30.0,1968.0,28123664,28186419,3626.0,NaN,BIKE 21381,2549
1,50.937656,6.998714,50.931719,6.991636,2020-03-03 14:10:02,2020-03-03 14:18:02,8.0,826.0,28186419,28188864,74.0,NaN,BIKE 21381,2522
2,50.931719,6.991636,50.930753,6.994297,2020-03-03 17:53:02,2020-03-03 17:58:01,5.0,215.0,28188864,28195415,215.0,NaN,BIKE 21381,2527
3,50.930753,6.994297,50.931347,6.991467,2020-03-03 18:00:02,2020-03-03 18:04:03,4.0,209.0,28195415,28195665,2.0,NaN,BIKE 21381,2484
4,50.931347,6.991467,50.931112,6.994412,2020-03-03 19:18:02,2020-03-03 19:22:01,4.0,208.0,28195665,28198028,74.0,NaN,BIKE 21381,2481

In [48]:
suspicious_times = []
for index, row in df.iterrows():
    if row['ride_time'] > 1440:
        suspicious_times.append(index)

In [49]:
len(suspicious_times)

772

In [27]:
df.loc[48070:48071]

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,address,name,available_bikes
48070,50.963047,6.964814,50.977931,6.962235,2020-01-20 11:07:02,2020-01-23 18:32:01,4765.0,1665.0,27003691,27249051,5713.0,"Florastraße 196, Köln",BIKE 21485,2546
48071,50.977931,6.962235,50.960959,6.948859,2020-01-24 11:16:01,2020-01-24 12:00:02,44.0,2108.0,27249051,27266203,1004.0,NaN,BIKE 21485,2588

In [ ]:
#single_bike1 = df[df['name']== 'BIKE 22829' ] #the bike that appears in India
#single_bike1

In [ ]:
#single_bike2 = df[df['name']== 'BIKE 22447' ] #the bike that spent days in Bonn
#single_bike2

In [ ]:
#single_bike3 = df_no_adr[df_no_adr['name']== 'BIKE 22385' ]
#single_bike3

In [ ]:
#This is to be used only if we want to include the data about the bike that spent days out of Cologne in the list for droping
#out_of_cologne = set(single_bike2.index)
#list_for_dropping = set(suspicious_indexes) - out_of_cologne
#list_for_dropping = suspicious_indexes + list(list_for_dropping)

In [25]:
df_no = df.drop(suspicious_times, axis=0)
df_no.reset_index(inplace=True)
df_no.drop('index', axis=1, inplace=True)

In [26]:
df_no.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28984 entries, 0 to 28983
Data columns (total 14 columns):
lat_begin               28984 non-null float64
lng_begin               28984 non-null float64
lat_end                 28984 non-null float64
lng_end                 28984 non-null float64
ride_begin              28984 non-null object
ride_end                28984 non-null object
ride_time               28984 non-null float64
distance                28984 non-null float64
uid_begin               28984 non-null int64
uid_end                 28984 non-null int64
standing_before_ride    28984 non-null float64
address                 182 non-null object
name                    28984 non-null object
available_bikes         28984 non-null int64
dtypes: float64(7), int64(3), object(4)
memory usage: 3.1+ MB

In [27]:
df_no.to_csv('/bigdata/jelicicna/output_datasets/anlysis_data_nextbike_2021-01.csv', sep=';', index=False)

In [ ]:
df_no[df_no[""]]