In [1]:
import pandas as pd

In [3]:
url = "Infection numbers.csv"
df = pd.read_csv(url, sep=',', low_memory=False)

In [4]:
df

     04.06.2021  52.996
0    03.06.2021  52.966
1    02.06.2021  52.941
2    01.06.2021  52.870
3    31.05.2021  52.810
4    30.05.2021  52.761
..          ...     ...
465  24.02.2020   2.000
466  23.02.2020   2.000
467  22.02.2020   2.000
468  21.02.2020   2.000
469  20.02.2020   2.000

[470 rows x 2 columns]