In [1]:
import pandas as pd
import math as mt
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import statistics
from itertools import islice

In [2]:
from pylab import rcParams
rcParams['figure.figsize'] = 16, 9

In [3]:
url = "processed_data_nextbike_2020-06cc.csv"
df = pd.read_csv(url, sep=';', low_memory=False)

In [4]:
pd.set_option('display.max_rows()', None)

#### Function for limiting possible lengths of distances to 2500meters in order to work with one part of data without extreme values

In [4]:
def drop_duplicates(l):
    '''Droping duplicates from a list while maintaining order'''
    seen = set()
    seen_add = seen.add
    return [x for x in l if not (x in seen or seen_add(x))]

In [5]:
def short_list(time):
    return [x for x in sr[time] if x < 2500]

In [8]:
#df = df.drop(['bike', 'bike_racks', 'bikes', 'booked_bikes', 'free_racks', 'free_special_racks', 'maintenance', 'number', 
#              'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city',
#              'country_code', 'company', 'timezone', 'available_bikes'], axis=1)

In [6]:
df.head()

,lat,lng,time_begin,time_end,standing_time_minutes,uid,name,address,bike,bike_racks,...,place_type,rack_locks,special_racks,spot,terminal_type,city,country_code,company,timezone,available_bikes
0,50.933660,6.934702,2020-06-01 00:00:02.340680,2020-06-01 00:58:02.478003,58.0,30462152,BIKE 22740,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,1058
1,50.956013,6.930739,2020-06-01 03:50:01.887992,2020-06-01 12:51:02.242190,541.0,30472458,BIKE 22740,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,1059
2,50.963772,6.926052,2020-06-01 13:25:02.620637,2020-06-01 15:59:02.217934,154.0,30482511,BIKE 22740,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,1050
3,50.964657,6.929327,2020-06-01 20:46:02.362104,2020-06-01 20:46:02.362104,0.0,30508458,BIKE 22740,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,1059
4,50.954216,6.926643,2020-06-01 21:04:01.714219,2020-06-02 08:21:02.109542,677.0,30509507,BIKE 22740,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,1060

In [7]:
df["uid"].duplicated().any()

False

In [31]:
previous_index = overview_list[0]
list_of_suspicious_indexes = []
for index,row in islice(df_suspicious_indexes.iterrows(), 1, None):
    if (row['distance'] == previous_distance):
        list_of_suspicious_indexes.append(previous_index)
        list_of_suspicious_indexes.append(index)
        
    previous_index = index
    previous_distance = row['distance']

In [32]:
list_of_suspicious_indexes

[388, 389, 56136, 56137]

In [ ]:
df

In [ ]:
df_no_adr = df.drop(overview_list, axis=0)
df_no_adr.reset_index(inplace=True)
df_no_adr.drop('index', axis=1, inplace=True)

In [ ]:
for index,row in df_no_adr.iterrows():
    if row['distance'] > 20000:
        print(index)

In [ ]:
df_no_adr.loc[28761]

In [ ]:
single_bike = df_no_adr[df_no_adr['name']== 'BIKE 21729' ]
single_bike.head()

In [ ]:
single_bike = df_no_adr[df_no_adr['name']== 'BIKE 22447' ]
single_bike

In [ ]:
out_of_cologne = single_bike.index

In [ ]:
out_of_cologne

In [ ]:
df_no_adr = df_no_adr.drop(out_of_cologne, axis=0)
df_no_adr.reset_index(inplace=True)
df_no_adr.drop('index', axis=1, inplace=True)

In [ ]:
large_travels = []
for index, row in df_no_adr.iterrows():
    if row['ride_time_minutes'] > 2880:
        large_travels.append(index)

In [ ]:
len(large_travels)

In [ ]:
df_no_adr = df_no_adr.drop(large_travels, axis=0)
df_no_adr.reset_index(inplace=True)
df_no_adr.drop('index', axis=1, inplace=True)

In [ ]:
df_no_adr.to_csv('prefin_data_nextbike_2020-06cc.csv', sep=';', index=False)

### -Grouping distances by ride time
#### -Saving the result of groupng into Series

In [ ]:
sr= df_no_adr.groupby('ride_time_minutes')['distance'].apply(list)

In [ ]:
sr

#### -Saving the result of groupng into DataFrame

In [ ]:
distances_df = sr.to_frame() #if data is needed in a DataFrame instead of Series for visualization

In [ ]:
distances_df

In [ ]:
max(distances_df.loc[1]["distance"])