In [1]:
import pandas as pd
import glob

In [2]:
pattern = './week_data/*.csv'
csv_files = glob.glob(pattern)

frames = []

for csv in csv_files:
    df = pd.read_csv(csv, sep=";", index_col='timestamp', parse_dates=True)
    frames.append(df)

df = pd.concat(frames)
df.head()

,address,bike,bike_racks,bikes,booked_bikes,free_racks,free_special_racks,lat,lng,maintenance,...,rack_locks,special_racks,spot,terminal_type,uid,city,country_code,company,timezone,available_bikes
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-05-01 00:00:03.021411,NaN,True,0,0,0,0,0,50.995426,6.932302,False,...,False,0,False,NaN,29024410,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.923800,7.004932,False,...,False,0,False,NaN,29096749,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.957189,6.887305,False,...,False,0,False,NaN,29157429,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.950948,6.878355,False,...,False,0,False,NaN,29166260,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.947152,6.879943,False,...,False,0,False,NaN,29167096,Köln,DE,Nextbike,Europe/Berlin,1261

In [3]:
df

,address,bike,bike_racks,bikes,booked_bikes,free_racks,free_special_racks,lat,lng,maintenance,...,rack_locks,special_racks,spot,terminal_type,uid,city,country_code,company,timezone,available_bikes
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-05-01 00:00:03.021411,NaN,True,0,0,0,0,0,50.995426,6.932302,False,...,False,0,False,NaN,29024410,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.923800,7.004932,False,...,False,0,False,NaN,29096749,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.957189,6.887305,False,...,False,0,False,NaN,29157429,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.950948,6.878355,False,...,False,0,False,NaN,29166260,Köln,DE,Nextbike,Europe/Berlin,1261
2020-05-01 00:00:03.021411,NaN,True,0,1,0,0,0,50.947152,6.879943,False,...,False,0,False,NaN,29167096,Köln,DE,Nextbike,Europe/Berlin,1261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-07 23:59:03.385542,NaN,True,0,1,0,0,0,50.945275,7.007798,False,...,False,0,False,NaN,29644028,Köln,DE,Nextbike,Europe/Berlin,1217
2020-05-07 23:59:03.385542,NaN,True,0,1,0,0,0,50.928464,6.937512,False,...,False,0,False,NaN,29644033,Köln,DE,Nextbike,Europe/Berlin,1217
2020-05-07 23:59:03.385542,NaN,True,0,1,0,0,0,50.940132,6.939804,False,...,False,0,False,NaN,29644095,Köln,DE,Nextbike,Europe/Berlin,1217
2020-05-07 23:59:03.385542,NaN,True,0,1,0,0,0,50.974328,6.969673,False,...,False,0,False,NaN,29644130,Köln,DE,Nextbike,Europe/Berlin,1217
2020-05-07 23:59:03.385542,NaN,True,0,1,0,0,0,50.930924,6.982391,False,...,False,0,False,NaN,29644151,Köln,DE,Nextbike,Europe/Berlin,1217

In [4]:
df.index

DatetimeIndex(['2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               ...
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542'],
              dtype='datetime64[ns]', name='timestamp', length=7869254, freq=None)