In [1]:
import pandas as pd
import random
from datetime import datetime
import time
from itertools import islice

### Has to work with ride time data. We need to have length of rides
General idea: uid is not for rides but for standing, chech if begin and end uid are really different- if it was really a ride they should be

In [2]:
url = "output_datasets/distace_and_ride_time_GPSerr_data_nextbike_2019-12.csv.gz"

In [3]:
df = pd.read_csv(url, sep=';', low_memory=False)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
maintnance_df = pd.DataFrame(columns= ['lat_begin', 'lng_begin', 'lat_end', 'lng_end', 'ride_begin', 'ride_end', 
                                       'ride_time_minutes', 'distance', 'uid_begin', 'uid_end', 
                                       'address', 'name', 'bike', 'bike_racks', 'bikes', 
                                       'booked_bikes', 'free_racks', 'free_special_racks', 'maintenance', 'number', 
                                       'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city', 
                                       'country_code', 'company', 'timezone', 'available_bikes'] )

In [6]:
for index,row in df.iterrows():
    if row['ride_time_minutes']>1440 and row['uid_begin'] == row['uid_end']:
        maintnance_df = maintnance_df.append({'lat_begin' : row['lat_begin'], 'lng_begin' : row['lng_begin'], 
                                              'lat_end' : row['lat_end'],
                                              'lng_end' : row['lng_end'], 'ride_begin' : row['ride_begin'] ,
                                              'ride_end' : row['ride_end'] ,
                                              'ride_time_minutes' : row['ride_time_minutes'], 'distance' : row['distance'], 
                                              'uid_begin' : row['uid_begin'],
                                              'uid_end' : row['uid_end'], 'address' : row['address'],
                                              'name' : row['name'], 'bike' : row['bike'], 'bike_racks' : row['bike_racks'],
                                              'bikes' : row['bikes'], 'booked_bikes' : row['booked_bikes'], 
                                              'free_racks' : row['free_racks'],
                                              'free_special_racks' : row['free_special_racks'], 
                                              'maintenance' : row['maintenance'], 'number' : row['number'], 
                                              'place_type' : row['place_type'], 'rack_locks' : row['rack_locks'], 
                                              'special_racks' : row['special_racks'], 'spot' : row['spot'], 
                                              'terminal_type' : row['terminal_type'], 'city' : row['city'], 
                                              'country_code' : row['country_code'], 'company' : row['company'], 
                                              'timezone' : row['timezone'], 'available_bikes' : row['available_bikes']}, 
                                             ignore_index=True)

In [7]:
maintnance_df

,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time_minutes,distance,uid_begin,uid_end,address,name,bike,bike_racks,bikes,booked_bikes,free_racks,free_special_racks,maintenance,number,place_type,rack_locks,special_racks,spot,terminal_type,city,country_code,company,timezone,available_bikes
0,50.935605,6.997894,50.935591,6.998212,2019-12-16 19:17:02.789636,2019-12-19 12:49:02.319708,3932.0,22.0,26062537,26062537,NaN,BIKE 21753,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2583
1,50.943693,6.982159,50.945187,6.982976,2019-12-08 23:11:03.014511,2019-12-18 09:24:01.931334,13573.0,176.0,25785102,25785102,NaN,BIKE 22305,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2633
2,50.922567,6.925679,50.922700,6.925541,2019-12-02 07:41:02.582291,2019-12-22 15:13:02.811109,29252.0,18.0,25473379,25473379,NaN,BIKE 22252,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2643
3,50.933106,6.952165,50.933042,6.952505,2019-12-03 13:59:03.319492,2019-12-10 11:46:02.464614,9947.0,25.0,25576206,25576206,NaN,BIKE 21993,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2623
4,50.960032,6.977858,50.942430,6.962762,2019-12-10 19:43:02.449648,2019-12-12 13:42:02.155421,2519.0,2225.0,25780176,25780176,NaN,BIKE 22242,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2624
5,50.933197,6.923387,50.932862,6.922115,2019-12-06 10:04:03.273460,2019-12-07 13:37:03.296610,1653.0,97.0,401268,401268,NaN,BIKE 21040,True,0,0,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2621
6,50.934060,6.920271,50.933944,6.920236,2019-12-09 11:03:02.909960,2019-12-11 09:14:02.538967,2771.0,13.0,25799403,25799403,NaN,BIKE 21102,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2617
7,50.904950,6.942497,50.904758,6.943857,2019-12-12 12:42:03.043394,2019-12-16 10:34:02.479166,5632.0,98.0,25550017,25550017,NaN,BIKE 22158,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2588
8,50.901398,6.950248,50.901476,6.950056,2019-12-27 17:59:02.603699,2019-12-30 17:35:02.213156,4296.0,16.0,26410370,26410370,NaN,BIKE 21879,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2605
9,50.948174,6.888129,50.948277,6.888249,2019-12-09 22:24:03.284962,2019-12-11 14:14:02.526067,2390.0,14.0,25809528,25809528,NaN,BIKE 22445,True,0,1,0,0,0,False,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2585