In [72]:
import numpy as np
import pandas as pd
import matplotlib
import datetime
import time
from itertools import islice

In [73]:
def parse_timestamp(el):
    b = datetime.datetime.strptime(el, fmt)
    return b

In [74]:
def parse_timestamp2(el):
    b = datetime.datetime.strptime(el, fmt2)
    return b

In [75]:
fmt = '%Y-%m-%d'
fmt2 = '%Y-%m-%d %H:%M:%S'

In [76]:
# Importing data on countermeasures and mobility
url_c = "covid19_final_set.csv"
df_c = pd.read_csv(url_c, sep=';', low_memory=False)
url_m = "./mobility data/anlysis_data_nextbike_2020-01.csv"
df_m = pd.read_csv(url_m, sep=';', low_memory=False)

In [77]:
pd.set_option('display.max_columns()', None)

In [78]:
df_c

,date,cultural_venues,gastronomy,essential_retail,non-essential_retail,major_events,events_and_gatherings,public_gatherings,tourism,traveling,school_facilities,university_facilities,sport_facilities,medical_facilities,mouth_and_nose_covering,new_infections,traceability_no,traceability_yes,curfew_10pm_5am_12act,curfew_no
0,2020-01-01,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1
1,2020-01-02,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1
2,2020-01-03,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1
3,2020-01-04,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1
4,2020-01-05,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,2021-07-27,2,2,4,3,2,3,2,1,4,1,1,3,5,4,82,0,1,0,1
574,2021-07-28,2,2,4,3,2,3,2,1,4,1,1,3,5,4,65,0,1,0,1
575,2021-07-29,2,2,4,3,2,3,2,1,4,1,1,3,5,4,74,0,1,0,1
576,2021-07-30,2,2,4,3,2,3,2,1,4,1,1,3,5,4,50,0,1,0,1
577,2021-07-31,2,2,4,3,2,3,2,1,4,1,1,3,5,4,84,0,1,0,1

In [79]:
df_m

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,name,available_bikes,calculated_distance
0,0,50.932058,6.988541,50.936326,6.986125,2020-01-01 02:40:01,2020-01-01 02:46:02,6.0,504.0,26503191,26523894,160.0,BIKE 22739,2620,4000.0
1,1,50.936326,6.986125,50.932037,6.988254,2020-01-01 06:25:02,2020-01-01 06:30:03,5.0,500.0,26523894,26528020,219.0,BIKE 22739,2613,4000.0
2,2,50.932037,6.988254,50.933224,6.982801,2020-01-01 12:56:02,2020-01-01 13:03:01,7.0,404.0,26528020,26534301,386.0,BIKE 22739,2622,4000.0
3,6,50.933312,6.982806,50.933619,6.977495,2020-01-06 10:54:02,2020-01-06 10:59:02,5.0,374.0,26551301,26661168,5944.0,BIKE 22739,2635,4000.0
4,7,50.933619,6.977495,50.936199,6.987294,2020-01-06 13:53:02,2020-01-06 14:02:02,9.0,744.0,26661168,26665444,174.0,BIKE 22739,2581,6500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53522,64086,50.926451,6.978769,50.933117,6.976492,2020-01-30 16:48:02,2020-01-30 16:58:02,10.0,758.0,27405972,27418946,527.0,BIKE 21836,2626,6500.0
53523,64087,50.933117,6.976492,50.930119,6.977313,2020-01-30 17:57:02,2020-01-30 18:04:02,7.0,338.0,27418946,27420841,59.0,BIKE 21836,2610,4000.0
53524,64088,50.930119,6.977313,50.952287,6.991252,2020-01-30 19:33:02,2020-01-30 20:24:02,51.0,2652.0,27420841,27423673,89.0,BIKE 21836,2621,21500.0
53525,64089,50.952287,6.991252,50.948819,6.993796,2020-01-31 14:20:02,2020-01-31 14:26:02,6.0,425.0,27423673,27440665,1076.0,BIKE 21836,2615,4000.0
53526,64090,50.948819,6.993796,50.950964,6.989026,2020-01-31 19:36:02,2020-01-31 20:00:02,24.0,411.0,27440665,27450697,310.0,BIKE 21836,2622,11500.0

In [80]:
df_c['date'] = df_c['date'].map(parse_timestamp)
df_m['ride_begin'] = df_m['ride_begin'].map(parse_timestamp2)

In [81]:
type(df_c['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [82]:
type(df_m['ride_begin'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [84]:
date_sr = []
for index, row in df_m.iterrows():
    day = str(df_m['ride_begin'][index].day)
    month = str(df_m['ride_begin'][index].month)
    year = str(df_m['ride_begin'][index].year)
    date_text = year + '-' + month + '-' + day
    date_sr.append(date_text)

In [87]:
df_m['date'] = date_sr

In [88]:
df_m['date'] = df_m['date']

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_begin,ride_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,name,available_bikes,calculated_distance,date
0,0,50.932058,6.988541,50.936326,6.986125,2020-01-01 02:40:01,2020-01-01 02:46:02,6.0,504.0,26503191,26523894,160.0,BIKE 22739,2620,4000.0,2020-1-1
1,1,50.936326,6.986125,50.932037,6.988254,2020-01-01 06:25:02,2020-01-01 06:30:03,5.0,500.0,26523894,26528020,219.0,BIKE 22739,2613,4000.0,2020-1-1
2,2,50.932037,6.988254,50.933224,6.982801,2020-01-01 12:56:02,2020-01-01 13:03:01,7.0,404.0,26528020,26534301,386.0,BIKE 22739,2622,4000.0,2020-1-1
3,6,50.933312,6.982806,50.933619,6.977495,2020-01-06 10:54:02,2020-01-06 10:59:02,5.0,374.0,26551301,26661168,5944.0,BIKE 22739,2635,4000.0,2020-1-6
4,7,50.933619,6.977495,50.936199,6.987294,2020-01-06 13:53:02,2020-01-06 14:02:02,9.0,744.0,26661168,26665444,174.0,BIKE 22739,2581,6500.0,2020-1-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53522,64086,50.926451,6.978769,50.933117,6.976492,2020-01-30 16:48:02,2020-01-30 16:58:02,10.0,758.0,27405972,27418946,527.0,BIKE 21836,2626,6500.0,2020-1-30
53523,64087,50.933117,6.976492,50.930119,6.977313,2020-01-30 17:57:02,2020-01-30 18:04:02,7.0,338.0,27418946,27420841,59.0,BIKE 21836,2610,4000.0,2020-1-30
53524,64088,50.930119,6.977313,50.952287,6.991252,2020-01-30 19:33:02,2020-01-30 20:24:02,51.0,2652.0,27420841,27423673,89.0,BIKE 21836,2621,21500.0,2020-1-30
53525,64089,50.952287,6.991252,50.948819,6.993796,2020-01-31 14:20:02,2020-01-31 14:26:02,6.0,425.0,27423673,27440665,1076.0,BIKE 21836,2615,4000.0,2020-1-31
53526,64090,50.948819,6.993796,50.950964,6.989026,2020-01-31 19:36:02,2020-01-31 20:00:02,24.0,411.0,27440665,27450697,310.0,BIKE 21836,2622,11500.0,2020-1-31