In [43]:
import pandas as pd
import glob
from datetime import datetime
import time

#### Preprocessing of the raw collected data into the table where one row shows one period of time that the bike spent on the same location (station)

In [44]:
url = "output_datasets/cleaned_data_nextbike_2020-02.csv.gz"
df = pd.read_csv(url, sep=';', parse_dates=True, low_memory=False)

In [45]:
fmt = '%Y-%m-%d %H:%M:%S'

In [46]:
def parse_timestamp(el):
    a = el.split('.')[0]
    b = datetime.strptime(a, fmt)
    return b

In [47]:
df['time_begin'] = df['time_begin'].map(parse_timestamp)
df['time_end'] = df['time_end'].map(parse_timestamp)

In [48]:
df.head()

,lat,lng,time_begin,time_end,name,address,bike,bike_racks,bikes,booked_bikes,...,rack_locks,special_racks,spot,terminal_type,uid,city,country_code,company,timezone,available_bikes
0,50.938699,6.934269,2020-02-01 02:53:02,2020-02-01 02:53:02,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27455312,Köln,DE,Nextbike,Europe/Berlin,2660
1,50.938699,6.934264,2020-02-01 02:54:02,2020-02-01 03:27:02,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27455312,Köln,DE,Nextbike,Europe/Berlin,2660
2,50.950791,6.922121,2020-02-01 03:51:02,2020-02-01 03:51:02,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27458309,Köln,DE,Nextbike,Europe/Berlin,2659
3,50.950787,6.922128,2020-02-01 03:52:02,2020-02-01 19:17:01,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27458309,Köln,DE,Nextbike,Europe/Berlin,2660
4,50.927378,6.939596,2020-02-01 19:41:03,2020-02-01 19:41:03,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27473030,Köln,DE,Nextbike,Europe/Berlin,2626

In [7]:
new_df = pd.DataFrame(columns= ['lat', 'lng', 'parking_begin', 'parking_end', 'parked_time', 'uid', 'name', 'address', 
                                'available_bikes', 'maintenance','bike', 'bike_racks', 'bikes', 
                                'booked_bikes', 'free_racks', 'free_special_racks', 'number', 
                                'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city',
                                'country_code', 'company', 'timezone'
                               ] ) #empty dataframe with the new column structure

In [ ]:
for index, row in df.iterrows():
    
    d1_ts = time.mktime(df['time_begin'][index].timetuple())
    d2_ts = time.mktime(df['time_end'][index].timetuple())
    
    minsDiff = round((int(d2_ts-d1_ts) / 60), 0)
    new_df = new_df.append({'lat' : row['lat'], 'lng' : row['lng'] ,
                            'parking_begin' : row['time_begin'], 'parking_end' : row['time_end'], 
                            'parked_time' : minsDiff, 'uid' : row['uid'], 'name' : row['name'], 'address' : row['address'], 
                            'available_bikes' : row['available_bikes'], 'maintenance' : row['maintenance'], 
                            'bike' : row['bike'], 'bike_racks' : row['bike_racks'], 'bikes' : row['bikes'], 
                            'booked_bikes' : row['booked_bikes'], 'free_racks' : row['free_racks'], 
                            'free_special_racks' : row['free_special_racks'], 
                            'number' : row['number'], 
                            'place_type' : row['place_type'], 'rack_locks' : row['rack_locks'], 
                            'special_racks' : row['special_racks'], 'spot' : row['spot'], 
                            'terminal_type' : row['terminal_type'], 'city' : row['city'], 
                            'country_code' : row['country_code'], 'company' : row['company'], 
                            'timezone' : row['timezone']
                           }, ignore_index=True)

In [ ]:
new_df.info()

In [ ]:
new_df.to_csv('parked_time_data_nextbike_2020-01.csv', sep=';', index=False)