In [1]:
import pandas as pd
import glob

In [3]:
pattern = './week_data/*.csv'
csv_files = glob.glob(pattern)

frames = []

for csv in csv_files:
    df = pd.read_csv(csv, sep=";", index_col='timestamp', parse_dates=True)
    frames.append(df)

df = pd.concat(frames)
df.head()

,address,bike,bike_racks,bikes,bikes_available_to_rent,booked_bikes,free_racks,free_special_racks,lat,lng,...,rack_locks,special_racks,spot,terminal_type,uid,city,country_code,company,timezone,available_bikes
timestamp,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:01.469585,"Am Coloneum 1, 50829 Köln",True,0,1,1,0,0,0,50.987514,6.896316,...,False,0,False,NaN,39162452,Köln,DE,Nextbike,Europe/Berlin,814
2021-01-01 00:00:01.469585,NaN,True,0,1,1,0,0,0,50.967542,6.909859,...,False,0,False,NaN,39434805,Köln,DE,Nextbike,Europe/Berlin,814
2021-01-01 00:00:01.469585,NaN,True,0,1,1,0,0,0,50.963969,6.912190,...,False,0,False,NaN,39617137,Köln,DE,Nextbike,Europe/Berlin,814
2021-01-01 00:00:01.469585,NaN,True,0,1,1,0,0,0,50.932622,7.008221,...,False,0,False,NaN,39650154,Köln,DE,Nextbike,Europe/Berlin,814
2021-01-01 00:00:01.469585,NaN,True,0,1,1,0,0,0,50.931954,6.946055,...,False,0,False,NaN,39771436,Köln,DE,Nextbike,Europe/Berlin,814

In [4]:
df.index

DatetimeIndex(['2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               '2020-05-01 00:00:03.021411', '2020-05-01 00:00:03.021411',
               ...
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542',
               '2020-05-07 23:59:03.385542', '2020-05-07 23:59:03.385542'],
              dtype='datetime64[ns]', name='timestamp', length=7869254, freq=None)

In [6]:
type(df.index[0])

pandas._libs.tslibs.timestamps.Timestamp